# FILENAME: .htaccess
# PURPOSE: Apache configuration file for to allow SSI.
# WHEN: 2016-11-05

# Allow Server Sides Includes
Options +Includes

# Parse all files with executable bit set as SSI files
XBitHack on
