html, body{
  height: 100%;
  margin: 0;
  min-width: 525px; /*must change when introducing mobile layout*/
}
a {
  line-height: 1.13; /*ulike browsers har ulike line-height, s책 dette m책 brukes for at ting skal se likt ut*/ /*ikke viktig n책 siden navbar bruker n책 vertikal align*/
}
h2 {
  font-weight: normal;
  margin-left: 10px;
}
body {
  background-image: url(../images/top-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
}

/* divide the document into rows */
  #wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%; min-height:100%;
    flex-direction: column;
  }
  #header, footer {background-color: rgba(29,31,33, 0.75)}
  #main-content {flex:1;}

/* bli medlem button upper right corner */
  #bliMedlem {
    position: absolute;
    width: 200px; height: 200px;
    top: 0;
    right: 0;
    overflow: hidden;
    pointer-events: none; /*no support for IE*/
  }
  #bliMedlem > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    width:100%;
    height: 100%;
    top: -50%;
    right: -50%;
    background-color: blue;
    box-sizing: border-box;
    padding-bottom: 6%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    pointer-events: auto;
    cursor: pointer;
    font-size: 18px;
  }
  #bliMedlem > div:hover {
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    background-color: #FF621A;
  }

  #header-container {
    height:200px;
  }

/* site-logo */
  #logo {
    height: 100%;
  }
  #logo img {
    max-height: 140px;
    cursor: pointer;
  }
  #logo h1 {
    margin-left: 20px;
  }
  #logo > * {
    display: inline-block;
    vertical-align: middle;
  }
  @media only screen and (max-width: 1000px) {
    #logo img {
      width: 28.8%;
    }
    #logo h1 {
      width: 260px;
    }
  }





/* navigation bar */
  #navbar-container {
    margin: auto;
    margin-top: 30px;
  }
  #navbar-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    overflow: hidden;
  }
  #navbar-container ul li {
    float: left;
  }
  #navbar-container ul li:hover {
    background-color: rgba(0,0,0,0.2);
  }
  #navbar-container ul li a {
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 16px;
  }

/* container */

#main-content-container {
  box-sizing: border-box;
  margin:auto;
  margin-bottom: 25px;
  padding: 15px 15px 30px 15px;
  background-color: rgba(29,31,33, 0.75)
}

/* newsfeed-slideshow */
  #newsfeed-slideshow {
    width: 100%; padding-bottom: 50%;
  }

  #newsfeed-slideshow > div {
    box-sizing: border-box;
    background-color: #1d1f21;/*rgb(29,31,33)*/
    border: 1px solid black;
  }

  #newsfeed-slideshow > div > .slideshow{
    float: left;
    width: 65%; height: 100%;
  }

  #newsfeed-slideshow > div > .description{
    position: relative;
    float: left;
    overflow: hidden;
    width: 35%; height: 100%;
  }
   #newsfeed-slideshow > div > .description .desc{
    box-sizing: border-box;
    padding: 16px;
  }
  #newsfeed-slideshow .article {
    max-height:calc(100% - 40px);
    overflow: hidden;
    margin-bottom: 10px;
  }
  #newsfeed-slideshow .article title {
    display: block;
    font-size: 20px;    
    margin-top: 20px;
  }

/* gallery1 */
  #gallery1 {
    width: 100%; padding-bottom: 65%;
  }
  #gallery1 > div {
    box-sizing: border-box;
    background-color: #1d1f21;/*rgb(29,31,33)*/
    border: 1px solid black;
  }

.big-section {

}

.small-section {

}

/* nye-artikler */
  #nye-artikler {
    margin-top: 20px;
    width: calc(100% - 300px); height:300px;
    background-color: #1d1f21;
    box-sizing: border-box;
    border: 1px solid black;
    border-top: 0px;
  }

  #nye-artikler > .sectionbar > div {
    margin-left: 16px;
    
  }

  #nye-artikler > .content {
  }





/* footer */
  footer {
    padding-bottom: 10px;
  }

  #footer-container {
    box-sizing: border-box;
    min-height: 160px;
    margin: auto;
    padding: 15px 15px 30px 15px;
  }

  .footer-section {
    width:23%;
    float:left;
    margin-right: 10px;
    min-width: 137px;
  }
  .footer-section ul{
    padding-left: 20px;
  }

  .footer-section ul li a {
    text-decoration: none;
  }
  .footer-section ul li a:link{color: gray;}
  .footer-section ul li a:visited{color: LightGray;}
  .footer-section ul li a:hover{color: white;}
  .footer-section ul li a:active{color: LightGray;}


  @media only screen and (max-width: 880px) {
    .footer-section {
      width:47%;
      margin-right: 10px;
    }
  }

/*-----------------*/
/* GENERAL CLASSES */
/*-----------------*/

.container {
  width: calc(60% + 100px);
  max-width: 1000px;
  margin:auto;
}



/* orange section bar */
  .sectionbar {
    box-sizing:border-box;
    position: relative;
    height: auto;
    border: 0;
    background: url(../images/bar.png) 0 -50px repeat-x;
    background-size: auto 100px;
  }
  .sectionbar::before,
  .sectionbar::after {
    content: ' ';
    position: absolute;
    top: 0;
    width: 8px;
    height: 50px;
  }
  .sectionbar::before {
    left: -8px;
    background: url(../images/bar.png);
    background-size: auto 100px;
  }
  .sectionbar::after {
    right: -8px;
    background: url(../images/bar.png) 8px 0px repeat-x;
    background-size: auto 100px;
  }
  .sectionbar > * {
    height:50px;
  }


/* slideshow */
  .slideshow {
    position:relative;
    height:100%;
    overflow: hidden;
  }
  .slideshow > .image {
    position: absolute;
    width: 100%; height: 100%;
    overflow: hidden;
    left:0%;
  }
  .slideshow > .image.img0 {
    margin-left: -100%;
  }
  .slideshow > .image.img1 {
    margin-left: 0%;
  }
  .slideshow > .image.img2 {
    margin-left: 100%;
  }
  .slideshow > .img-move-left {
    transition: 0.5s;
    left: 100%;
  }
  .slideshow > .img-move-right {
    transition: 0.5s;
    left: -100%;
  }
  .slideshow > .image > div {
    position: relative;
    right: 50%;
    width: 100%; height: 100%;
    text-align: center;
  }
  .slideshow > .image > div > img {
    display: inline-block;
    height: 100%;
    margin-right: -100%;
  }
  .slideshow > .buttons {
    pointer-events: none;
    position: absolute;
    width: 100%; height: 100%;
  }
  .slideshow > .buttons > .arrows {
    position: absolute;
    width: 100%; height: 100%;
  }
  .slideshow > .buttons > .arrows > *{
    cursor: pointer;
    pointer-events: auto;
    border-radius: 4px;
    background-color: rgba(29,31,33, 0.4);
  }
  .slideshow > .buttons > .arrows > .next {
    margin-right: 20px;
    margin-left: auto;
  }
  .slideshow > .buttons > .arrows > .prev {
    margin-left: 20px; 
  }
  .slideshow > .buttons > .arrows > *:hover {
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    background-color: rgba(29,31,33, 0.8);
  }
  .slideshow > .buttons > .arrows > * > img{
    display: block;
    width: 40px;
  }
  .slideshow > .buttons > .dots {
    text-align: center;
    position: absolute;
    width: 100%; height:40px;
    bottom:0px;
  }
  .slideshow > .buttons > .dots > div {
    pointer-events: auto;
    cursor: default;
    width:150px; height: 100%;
    padding-top:10px;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(29,31,33, 0.4);
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
  }


  .slideshow > .buttons > .dots > div:hover {
    background-color: rgba(29,31,33, 0.8);
  }
  .slideshow > .buttons > .dots > div > .dot {
    display: inline-block;
    cursor: pointer;
    pointer-events: auto;
    width: 11px; height: 11px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: white;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.8);
  }
  .slideshow > .buttons > .dots .dot:hover {
    background-color: #FF621A;
  }
  .slideshow > .buttons > .dots .dot.selected {
    cursor: default;
    background-color: #FF621A;
  }

  
  .slideshow + .description > .desc {
    position: absolute;
    width: 100%; height: 100%;
    overflow: hidden;
    left:0%;
  }
  .slideshow + .description > .desc div {
    width: 100%; height: 100%;
  }
  .slideshow + .description > .desc0 {
    margin-left: -100%;
  }
  .slideshow + .description > .desc1 {
    margin-left: 0%;
  }
  .slideshow + .description > .desc2 {
    margin-left: 100%;
  }
  .slideshow + .description > .desc-move-left {
    transition: 0.5s;
    left: 100%;
  }
  .slideshow + .description > .desc-move-right {
    transition: 0.5s;
    left: -100%;
  }








/*wrappers*/
  .wrapper-fixed-ratio {
    position: relative;
  }
  .wrapper-fixed-ratio > div{
    position: absolute;
    width: 100%; height: 100%;
  }

  .wrapper-valign-center {
    display: flex;
    align-items: center;
  }


/* FAQ STYLING */
ul#faq > li {
  font-weight: bold;
  margin: 1em 0;
}

ul#faq > li > ul > li {
  font-weight: normal;
  font-style: italic;
}


/* POPUP STYLING */

  /* Styling of the modal background */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 25%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }

  /* Styling of the modal  box itself */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }

  /* Styling of the header of the modal */
  .modal-header {
    padding: 0.1em 1em;
    background-color: #e64f17;
    color: white;
    font-weight: bold;
  }

  .modal-header h3 {
    margin: 0.5em 0;
  }

  /* Styling of the body of the modal */
  .modal-body {
    padding: 0 1em;
    color: black;
  }

  /* Styling of the footer of the modal */
  .modal-footer {
    padding: 0.5em 0.5em;
    background-color: #e64f17;
    color: white;
    text-align: right;
  }

  /* Styling of the yes/no buttons of the modal */
  .modal-button {
    background-color: #fefefe;
    border: none;
    color: black;
    padding: 0.25em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 0.25em 0.25em;
    cursor: pointer;
    border-radius: 0.25em;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }

  .modal-button:hover {
    background-color: #b42b00;
    color: white;
  }

  /* Styling of the close button on the modal */
  .close-button {
    color: white;
    float: right;
    font-size: 1.5em;
  }

  .close-button:hover, .close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
