
<!--
FILENAME: footer.html
WRITTEN BY: Tony Timmy Tran
WHEN: 2016-11-01
PURPOSE: This is the footer template which will be included on every page.

NOTES: "href='#'" should be replaced with the real link, but our client did not send us the links.
-->

<footer>
	<div id="footer-container" class="container">
		<div class="footer-section">
			<h3>Mer Info:</h3>
			<ul>
				<li><a href="#">Brukervilkår</a></li>
				<li><a href="#">Informasjonskapsler</a></li>
			</ul>
		</div>

		<div class="footer-section">
			<h3>Følg oss:</h3>
			<ul>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Instagram</a></li>
				<li><a href="#">Snapchat</a></li>
				<li><a href="#">Twitter</a></li>
			</ul>
		</div>

		<div class="footer-section">
			<h3>Kontakt oss:</h3>
			<ul>
				<li><a>Tlf: +47 99999999</a></li>
				<li><a>Adresse: Gløshaugen P15</a></li>
			</ul>
		</div>

		<div class="footer-section">
			<div class="footer-map">
				<a href="https://use.mazemap.com/?v=1&campusid=1&left=10.2166&right=10.6161&top=63.4647&bottom=63.3708&utm_medium=longurl" target="_blank">
					<img src="/tonytt/Documents/images/mazemap.png" height="140" width="200" alt="Kart som viser lokasjonen til FSG">
				</a>
			</div>
		</div>
	</div>
</footer>
