<!--
FILENAME: header.html
WRITTEN BY: Tony Timmy Tran
WHEN: 2016-11-01
PURPOSE: This is the header template which includes the the header and navbar which will be included on every page.
-->

<div id="header">
	<div id="bliMedlem">
		<div onclick="convertToLeet()">Bli Medlem!</div>
	</div>
	<div id="header-container" class="container">
		<div id="logo" class="wrapper-valign-center">
			<img src="images/logo.png" onclick="location.href='index.html'">
			<h1>Det Frie Student Gamer Laget</h1>
		</div>
	</div>
</div>

<div id="navbar">
	<div id="navbar-container" class="sectionbar container">
		<ul class="wrapper-valign-center">
			<li><a href="index.html">Hjem</a></li>
			<li><a href="artikler.html">Artikler</a></li>
			<li><a href="omtaler.html">Omtaler</a></li>
			<li><a href="info.html">Om Oss</a></li>
		</ul>
	</div>
</div>
