
<!--
FILENAME: header.html
WRITTEN BY: Sandor Zeestraten and Tony Timmy Tran
WHEN: 2016-11-01
PURPOSE: This is the header template which includes the the header and navbar which will be included on every page.
-->

<div id="header">
	<div id="bliMedlem">
		<!-- Leetspeak converter button -->
		<div onclick="location.href='/tonytt/Documents/blimedlem.html'">Bli medlem!</div>
	</div>
	<div id="header-container" class="container">
		<div id="logo" class="wrapper-valign-center">
			<img src="/tonytt/Documents/images/logo.png" alt="FSG logo" onclick="location.href='/tonytt/Documents/index.html'">
			<h1>Det Frie Student Gamer Laget</h1>
		</div>
	</div>
</div>

<!--
PURPOSE: The navbar has a clickable dropdown menu to support touch enabled devices
CREDITS: The code is a lightly modified version from the Dropdown Menu in Navbar example from W3Schools.
URL: http://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_dropdown_navbar_click
-->
<div id="navbar">
	<div id="navbar-container" class="sectionbar container">
		<ul class="wrapper-valign-center">
			<li><a href="/tonytt/Documents/index.html">Hjem</a></li>
			<li><a href="/tonytt/Documents/docs/artikler1.html">Artikler</a></li>
			<li><a href="/tonytt/Documents/docs/omtaler1.html">Omtaler</a></li>
			<li class="dropdown">
	    		<a href="javascript:void(0)" id="dropbtn">Mer</a>
	    		<div class="dropdown-content" id="myDropdown">
					<a href="/tonytt/Documents/info.html">Info</a>
					<a href="/tonytt/Documents/galleri.html">Galleri</a>
					<a href="/tonytt/Documents/kontaktoss.html">Kontakt oss</a>
					<a href="/tonytt/Documents/faq.html">FAQ</a>
					<a href="/tonytt/Documents/blimedlem.html">Bli Medlem</a>
				</div>
			</li>
		</ul>
		<div id="leetspeak-btn" class="wrapper-valign-center">
			Leetspeak
		</div>
	</div>
</div>
