
<!--
FILENAME: joinuspopup.html
WRITTEN BY: Sandor Zeestraten
WHEN: 2016-10-17
PURPOSE: A simple HTML snippet for a modal popup dialog.
CREDITS: Inspired by the Animated Modal with Header and Footer example from W3Schools.
URL: http://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal2
-->

<div id="modal-popup" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="popup_close">x</span>
            <h3>Bli medlem i FSG!</h3>
        </div>
        <div class="modal-body">
            <p>
                Vil du bli med i et aktiv og morsomt miljø? <br/>
                Da er FSG perfekt for deg!
            </p>
        </div>
        <div class="modal-footer">
            <button id="popup_no" class="modal-button">Nei takk</button>
            <button id="popup_yes" class="modal-button">Bli medlem</button>
        </div>
    </div>
</div>
