<!--
FILENAME: joinuspopup.html
WRITTEN BY: Sandor Zeestraten
WHEN: 2016-10-17
PURPOSE: A simple template for a popup to be inserted on each page.
CREDITS: Inspired by the Animated Modal with Header and Footer example from W3Schools.
URL: http://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal2
-->

<!-- The Modal -->
<div id="modal-popup" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close-button">x</span>
            <p>Bli medlem!</p>
        </div>
        <div class="modal-body">
            <p>Vil du bli med i Det Frie Student Gamer Laget?</p>
        </div>
        <div class="modal-footer">
            <button id="popup_no">Nei</button>
            <button id="popup_yes">Ja</button>
        </div>
    </div>
</div>
